<!-- your html code here -->

<div class="row bg-white d-flex justify-content-end">

    <div class="col-7  mt-5">

        <h1 class=""><strong>The First Heading</strong> <span class="text-muted">Will Catch Your Eye</span> </h1>

        <p class="lead text-end pe-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti repellendus dicta
            expedita officiis provident quas aliquid saepe deleniti, tenetur labore distinctio esse placeat eum
            minima culpa architecto tempora sapiente debitis!
        </p>
    </div>
    <div class="col-4 mt-5">
        <!-- imagen desde folder assets -->
        <img src="./assets/img/1.jpg" class="rounded-circle h-50" alt="">
    </div>

</div>